<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Subject</title>
</head>
<body>
    <h1>Subject</h1>

    <div class="main-container">
        ...
    </div>
    
    <div class="footer">
        <span>© 2023 - Valentin Quevy <a href="linkdin.com">connect</a></span>
    </div>


    <script src="script.js"></script>
</body>
</html>